<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcard Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='flashcard-view.css') }}">
</head>
<body>

<div class="main">
    <div class="header">
        <h1>Flashcard Maker</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/instructions.html">Instructions</a> |
            <a href="/about-contact.html">About/Contact</a>
        </nav>
    </div>
    <br>
    <h2>About Me</h2>
    <p>My name is Lukas Richters. I am a second-year computer science major at Michigan State University. This site
        is hosted by Flask, using a Python module as the backend for the file processing. I'm always looking for fun new
        projects like this, so if you have any ideas to help alleviate my occasional boredom, let me know by contacting
        me with the information below. Lastly, if you work for Quizlet's legal team, please don't sue me, thanks.</p>

    <h2>Contact Me</h2>
    <p>If you would like to report a bug or make a suggestion about this website, please don't hesitate to send me an
        email at lukasrichters14@gmail.com.</p>
    <br>
</div>

</body>
</html>