<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcard Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='flashcard-view.css') }}">
</head>
<body>

<div class="main">

    <h1>Instructions</h1>
    <p>1. Copy and paste your notes into a text file. The file should have a .txt extension, not .doc, .docx, etc.</p>
    <p>2. Click on the "Choose File" button on the main page.</p>
    <p>3. After you have uploaded your file (you will know because your file name will appear to the right of the
        "Choose File" button) click on the "Upload" button.</p>
    <p>4. Your formatted flashcard text should appear below the "Here is your fully-formatted flashcard set" text. Be
        sure to copy it!</p>
    <p>5. Navigate to Quizlet.com and log in (if necessary).</p>
    <p>6. Click on the "Create" button.</p>
    <p>7. Just below the title of your new set will be a "Import from..." link. Click on it.</p>
    <p>8. Paste your formatted text into the large box at the top of the screen.</p>
    <p>9. There are two fields for you to fill out just below the large box. In the first one ("Between term and
        definition"), enter the "@" character. In the second one ("Between cards"), enter the "~!" characters.</p>
    <p>10. Click the "Import" button, and you will now have your own Quizlet study set.</p>
    <p>I hope this guide was informative a helpful, and that you ace whatever quiz or test you are preparing for.</p>
    <div class="disclaimer">
        <p>I do not own any of the rights to Quizlet or any of its services, and I take no credit for the creation or
        usage of Quizlet or its provided services.</p>
    </div>
</div>

</body>
</html>